.homepage .banner{
    background: url(/dog-friends.jpg);
    background-size: cover;
    height: 700px;
}

.homepage .banner h1 {
  color: white;
  font-family: 'Philosopher', sans-serif;
  font-size: 5em;
  text-align: center;
  padding-top: 250px;
  text-shadow: 0 0 10px black;
  opacity: 0.8;
}

.homepage .banner h2 {
  color: white;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 2em;
  text-shadow: 0 0 10px black;
  opacity: 0.8;
  margin-top: -50px;
}



body {
  margin: 0;
  /*padding: 50px;*/
  font-family: sans-serif;
}

li {
  list-style: none;
}

ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*ul.nav li {
  list-style: none;
  padding: 0 10px 0 0;
  float: left;
}*/

ul.nav:before,
ul.nav:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

ul.nav:after {
    clear: both;
}

.active {
  color: red;
}

.content {
  padding: 20px 0;
}

.map {
  height: 400px;
  width: 100%;
}
