.homepage .banner{
    background: url(/dog-friends.jpg);
    background-size: cover;
    height: 100vh;
    margin-top: -75px;
    margin-right: -60px;
}

.homepage .banner h1 {
  color: white;
  font-family: 'Arvo', serif;
  font-size: 6.5em;
  text-align: center;
  padding-top: 400px;
  text-shadow: 0 0 10px black;
  opacity: 0.8;
}

.homepage .banner h2 {
  color: white;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 3em;
  text-shadow: 0 0 10px black;
  opacity: 0.8;
  margin-top: -50px;
}

/*.Znavbar h4 {
  font-size: 1.4em;
  padding-top: 20px;
}*/



nav {
  height: 1px;
}

body
{
  z-index: 1;
  margin: 0;
  padding: 0;


  /* make it look decent enough */
  background: #C2E0F2;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

/*side bar menu*/
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  opacity: .6;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 150px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  opacity: 0.6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

#menu li
{
  padding: 10px 0;
  font-size: 30px;

}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

.map {
  height: 500px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 800px;

}

.mappage{
  background: #C2E0F2;
}

/*.chatbox{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 500px;
  background-color: white;
  border-radius: 5px;

}*/

/*

*/
.commentList h3{
  padding-top: 30px;
  padding-left: 30px;
}

.commentNodes {
  padding-left: 30px;
  padding-right: 1px;
  padding-top: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.commentAuthor {
  padding-right: 1px;
  padding-top: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.commentBox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
}

.neighbors h2 {
  position: absolute;
  top: 25px;
  padding-left: 30px;
  color: black;
}

.chatbox #typetext {
  width: 350px;
  height: 30px;
}

.commentForm {
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.submitbutton {
  margin-top: 20px;
}

/*OWNER PAGE and pet page*/
.owner-bio, .pet-bio {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  list-style-type: none;
  background-color: white;
  border-radius: 5px;
}
.owner-bio img {
  padding-left: 50px;
  margin-bottom: 50px;
}
.owner-bio h2 {
  color: black;
  padding-left: 50px;
  padding-top: 40px;
}

.pet-bio img {
  padding-left: 50px;
}
.pet-bio h2 {
  color: black;
  padding-left: 50px;
  padding-top: 40px;
}

.petdesc {
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  padding-bottom: 50px;
}

/*LOGIN PAGE FORM*/

.loginpage {
  /*box-sizing: border-box;*/
	font-size: 1em;
	margin: 0;
	padding: 0;
}
.loginpage h2 {

}

.loginpage {
	background: url(/water-dogs.jpg) center no-repeat;
	background-size: cover;
	color: #333;
	font-size: 18px;
  font-family: 'Glyphicons Halflings';
}
.loginpage .container{
  font-size: 1.5em;
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: block;
	max-width: 480px;
	overflow: visible;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 2em;
	position: absolute;
		top: 50%;
		left: 50%;
		/*z-index: 1;*/
	width: 98%;
}
.loginpage .container:before{
	background: url(/water-dogs.jpg) center no-repeat;
	background-size: cover;
	content: '';
	-webkit-filter: blur(10px);
	filter: blur(10px);
	height: 100vh;
	position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100vw;
}
.loginpage .container:after{
	background: rgba(255,255,255,0.6);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	width: 100%;
}
.loginpage form button.submit{
	background: rgba(255,255,255,0.25);
	border: 1px solid #333;
	line-height: 1em;
	padding: 0.5em 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
  font-size: .9em;

}
.loginpage form button:hover,
.loginpage form button:focus,
.loginpage form button:active,
.loginpage form button.loading{
	background: #333;
	color: #fff;
	outline: none;
}


.loginpage form button.success{
	background: #27ae60;
	border-color: #27ae60;
	color: #fff;


}
@-webkit-keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
@keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}


.loginpage form label{
	border-bottom: 1px solid #333;
	display: block;
	font-size: 1.25em;
	margin-bottom: 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.loginpage form label.col-one-half{
	float: left;
	width: 50%;
}
.loginpage form label.col-one-half:nth-of-type(even){
	border-left: 1px solid #333;
	padding-left: 0.25em;
}


/*login input*/
.loginpage form label input{
  font-size: .7em;
	background: none;
	border: none;
	line-height: 1em;
	font-weight: 300;
	padding: 0.125em 0.25em;
	width: 100%;
}
.loginpage form label input:focus{
	outline: none;
}
.loginpage form label input:-webkit-autofill{
	background-color: transparent !important;
}
.loginpage form label span.label-text{
	display: block;
	font-size: 0.5em;
	font-weight: bold;
	padding-left: 0.5em;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.loginpage form label.invalid{border-color: #c0392b !important;}
.loginpage form label.invalid span.label-text{color: #c0392b;}
.loginpage form label.password{position: relative;}
.loginpage form label.password button.toggle-visibility{
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0.75em;
	line-height: 1em;
	position: absolute;
		top: 50%;
		right: 0.5em;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;

}


.loginpage h1{
	font-size: 4em;
	margin: 0 0 0.5em 0;
	text-align: center;
  font-family: 'Indie Flower', cursive;
  color: black;
  opacity: .5;
}
.loginpage h1 img{
	height: auto;
	margin: 0 auto;
	max-width: 240px;
	width: 100%;
}
.loginpage html{
	font-size: 1px;
	height: 100%;
}

.loginpage .text-center{
	text-align: center;
}

/*SIGNUP PAGE FORM*/

.signuppage .container{
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: block;
	max-width: 480px;
	overflow: visible;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 2em;
	position: absolute;
		top: 50%;
		left: 50%;
		/*z-index: 1;*/
	width: 98%;
  font-size: 1.5em;
}
.signuppage .container:before{
	background: url(/water-dogs.jpg) center no-repeat;
	background-size: cover;
	content: '';
	-webkit-filter: blur(10px);
	filter: blur(10px);
	height: 100vh;
	position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100vw;
}
.signuppage .container:after{
	background: rgba(255,255,255,0.6);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	width: 100%;
}
.signuppage form button.submit{
	background: rgba(255,255,255,0.25);
	border: 1px solid #333;
	line-height: 1em;
	padding: 0.5em 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.signuppage form button:hover,
.signuppage form button:focus,
.signuppage form button:active,
.signuppage form button.loading{
	background: #333;
	color: #fff;
	outline: none;
}
.signuppage form button.success{
	background: #27ae60;
	border-color: #27ae60;
	color: #fff;
}
@-webkit-keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
@keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}


.signuppage form label{
	border-bottom: 1px solid #333;
	display: block;
	font-size: 1.25em;
	margin-bottom: 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;

}
.signuppage form label.col-one-half{
	float: left;
	width: 49%;
}
.signuppage form label.col-one-half:nth-of-type(even){
	border-left: 1px solid #333;
	padding-left: 0.25em;
  float: right;
}
.signuppage form label input{
	background: none;
	border: none;
	line-height: 1em;
	font-weight: 300;
	padding: 0.125em 0.25em;
	width: 100%;
  font-size: .7em;
}
.signuppage form label input:focus{
	outline: none;
}
.signuppage form label input:-webkit-autofill{
	background-color: transparent !important;
}
.signuppage form label span.label-text{
	display: block;
	font-size: 0.5em;
	font-weight: bold;
	padding-left: 0.5em;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.signuppage form label.checkbox{
	border-bottom: 0;
	text-align: center;
}
.signuppage form label.checkbox input{
	display: none;
}
.signuppage form label.checkbox span{
	font-size: 0.5em;
}
.signuppage form label.checkbox span:before{
	content: '\e157';
	display: inline-block;
  font-family: 'Indie Flower', cursive;
	font-size: 1.125em;
	padding-right: 0.25em;
	position: relative;
		top: 1px;
}
.signuppage form label.checkbox input:checked + span:before
{
  content: '\e067';
}
.signuppage form label.invalid{border-color: #c0392b !important;}
.signuppage form label.invalid span.label-text{color: #c0392b;}
.signuppage form label.password{position: relative;}
.signuppage form label.password button.toggle-visibility{
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0.75em;
	line-height: 1em;
	position: absolute;
		top: 50%;
		right: 0.5em;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.signuppage form label.password button.toggle-visibility:hover,
.signuppage form label.password button.toggle-visibility:focus,
.signuppage form label.password button.toggle-visibility:active{
	color: #000;
	outline: none;
}
.signuppage form label.password button.toggle-visibility span{vertical-align: middle;}

.signuppage h1{
	font-size: 3em;
	margin: 0 0 0.5em 0;
	text-align: center;
  font-family: 'Indie Flower', cursive;
  color: black;
  opacity: .5;
}
.signuppage h1 img{
	height: auto;
	margin: 0 auto;
	max-width: 240px;
	width: 100%;
}
.signuppage html{
	font-size: 18px;
	height: 100%;
}

.signuppage .text-center{
	text-align: center;
}

.signuppage .submit {
  margin: auto;
  display: block;
  font-size: .9em;

}


/*PETPROFILE PAGE*/

.signuppage {
  /*box-sizing: border-box;*/
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.signuppage {
	background: url(/water-dogs.jpg) center no-repeat;
	background-size: cover;
	color: #333;
	font-size: 18px;
  font-family: 'Glyphicons Halflings';
}
.signuppage .container{
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: block;
	max-width: 480px;
	overflow: visible;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 2em;
	position: absolute;
		top: 50%;
		left: 50%;
		/*z-index: 1;*/
	width: 98%;
}
.signuppage .container:before{
	background: url(/water-dogs.jpg) center no-repeat;
	background-size: cover;
	content: '';
	-webkit-filter: blur(10px);
	filter: blur(10px);
	height: 100vh;
	position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100vw;
}
.signuppage .container:after{
	background: rgba(255,255,255,0.6);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	width: 100%;
}
.signuppage form button.submit{
	background: rgba(255,255,255,0.25);
	border: 1px solid #333;
	line-height: 1em;
	padding: 0.5em 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.signuppage form button:hover,
.signuppage form button:focus,
.signuppage form button:active,
.signuppage form button.loading{
	background: #333;
	color: #fff;
	outline: none;
}
.signuppage form button.success{
	background: #27ae60;
	border-color: #27ae60;
	color: #fff;
}
@-webkit-keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
@keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
.signuppage form button span.loading-spinner{
	-webkit-animation: spin 0.5s linear infinite;
	animation: spin 0.5s linear infinite;
	border: 2px solid #fff;
	border-top-color: transparent;
	border-radius: 50%;
	display: inline-block;
	height: 1em;
	width: 1em;
}

.signuppage form label{
	border-bottom: 1px solid #333;
	display: block;
	font-size: 1.25em;
	margin-bottom: 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.signuppage form label.col-one-half{
	float: left;
	width: 49%;
}
.signuppage form label.col-one-half:nth-of-type(even){
	border-left: 1px solid #333;
	padding-left: 0.25em;
  float: right;
}
.signuppage form label input{
	background: none;
	border: none;
	line-height: 1em;
	font-weight: 300;
	padding: 0.125em 0.25em;
	width: 100%;
}
.signuppage form label input:focus{
	outline: none;
}
.signuppage form label input:-webkit-autofill{
	background-color: transparent !important;
}
.signuppage form label span.label-text{
	display: block;
	font-size: 0.5em;
	font-weight: bold;
	padding-left: 0.5em;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.signuppage form label.checkbox{
	border-bottom: 0;
	text-align: center;
}
.signuppage form label.checkbox input{
	display: none;
}
.signuppage form label.checkbox span{
	font-size: 0.5em;
}
.signuppage form label.checkbox span:before{
	content: '\e157';
	display: inline-block;
  font-family: 'Indie Flower', cursive;
	font-size: 1.125em;
	padding-right: 0.25em;
	position: relative;
		top: 1px;
}
.signuppage form label.checkbox input:checked + span:before
{
  content: '\e067';
}
.signuppage form label.invalid{border-color: #c0392b !important;}
.signuppage form label.invalid span.label-text{color: #c0392b;}
.signuppage form label.password{position: relative;}
.signuppage form label.password button.toggle-visibility{
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0.75em;
	line-height: 1em;
	position: absolute;
		top: 50%;
		right: 0.5em;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.signuppage form label.password button.toggle-visibility:hover,
.signuppage form label.password button.toggle-visibility:focus,
.signuppage form label.password button.toggle-visibility:active{
	color: #000;
	outline: none;
}
.signuppage form label.password button.toggle-visibility span{vertical-align: middle;}

.signuppage h1{
	font-size: 3em;
	margin: 0 0 0.5em 0;
	text-align: center;
  font-family: 'Indie Flower', cursive;
  color: black;
  opacity: .5;
}
.signuppage h1 img{
	height: auto;
	margin: 0 auto;
	max-width: 240px;
	width: 100%;
}
.signuppage html{
	font-size: 18px;
	height: 100%;
}

.signuppage .text-center{
	text-align: center;
}

.signuppage .submit {
  margin: auto;
  display: block;
}

/*PETPROFILE PAGE*/


.petprofileform .container{

	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: block;
	max-width: 480px;
	overflow: visible;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 2em;
	position: absolute;
		top: 50%;
		left: 50%;
		/*z-index: 1;*/
	width: 98%;
  margin-left: auto;
  margin-right: auto;

}
.petprofileform .container:before{
	background: url(/best-friends.jpg) center no-repeat;
	background-size: cover;
	content: '';
	-webkit-filter: blur(10px);
	filter: blur(10px);
	height: 100vh;
	position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100vw;
}
.petprofileform .container:after{
	background: rgba(255,255,255,0.6);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	width: 100%;
}
.petprofileform form button.submit{
	background: rgba(255,255,255,0.25);
	border: 1px solid #333;
	line-height: 1em;
	padding: .5em .5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
  font-size: 1.25em;
}
.petprofileform form button:hover,
.petprofileform form button:focus,
.petprofileform form button:active,
.petprofileform form button.loading{
	background: #333;
	color: #fff;
	outline: none;
}
.petprofileform form button.success{
	background: #27ae60;
	border-color: #27ae60;
	color: #fff;
  font-size: .9em;
}


@-webkit-keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
@keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}

.petprofileform form.petform{
  color: #676869;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.petprofileform .petform input.name{
  border-bottom: 2px solid #333;
}


/*underline inputs */
.petprofileform form label{
	/*border-bottom: 1px solid #333;*/
	display: block;
	font-size: 1.45em;
	margin-bottom: 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
  color: #676869;
  padding-top: -10px;
}


.petprofileform form label.col-one-half{
	float: left;
	width: 49%;
}
.petprofileform form label.col-one-half:nth-of-type(even){
	border-left: 1px solid #333;
	padding-left: 0.25em;
  float: right;
}
.petprofileform form label input{
  font-size: .9em;
	background: none;
	border: none;
	line-height: 1em;
	font-weight: 300;
	padding: 0.125em 0.25em;
	width: 100%;

}
.petprofileform form label input:focus{
	outline: none;
}
.petprofileform form label input:-webkit-autofill{
	background-color: transparent !important;
}
.petprofileform form label span.label-text{
	display: block;
	font-size: 0.5em;
	font-weight: bold;
	padding-left: 0.5em;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;

}
/*.spetprofileform label.checkbox{
	border-bottom: 0;
	text-align: center;
}
.petprofileform form label.checkbox input{
	display: none;
}
.petprofileform form label.checkbox span{
	font-size: 0.5em;
}
.petprofileform form label.checkbox span:before{
	content: '\e157';
	display: inline-block;
  font-family: 'Indie Flower', cursive;
	font-size: 1.125em;
	padding-right: 0.25em;
	position: relative;
		top: 1px;
}
.petprofileform form label.checkbox input:checked + span:before
{
  content: '\e067';
}*/
.petprofileform form label.invalid{border-color: #c0392b !important;}
.petprofileform form label.invalid span.label-text{color: #c0392b;}
/*.petprofileform form label.password{position: relative;}
.petprofileform form label.password button.toggle-visibility{
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0.75em;
	line-height: 1em;
	position: absolute;
		top: 50%;
		right: 0.5em;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.petprofileform form label.password button.toggle-visibility:hover,
.petprofileform form label.password button.toggle-visibility:focus,
.petprofileform form label.password button.toggle-visibility:active{
	color: #000;
	outline: none;
}c
.petprofileform form label.password button.toggle-visibility span{vertical-align: middle;}*/

.petprofileform h1{
	font-size: 3em;
	margin: 0 0 0.5em 0;
	text-align: center;
  font-family: 'Indie Flower', cursive;
  color: black;
  opacity: .5;
}
.petprofileform h1 img{
	height: auto;
	margin: 0 auto;
	max-width: 240px;
	width: 100%;
}
.petprofileform html{
	font-size: 18px;
	height: 100%;
}

.petprofileform .text-center{
	text-align: center;

}

.petprofileform .submit {
  margin: auto;
  display: block;
}



/*select option */


.petprofileform select {

   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}


.petprofileform select {
  appearance: none;
   border: 1px solid #676869;
   font-size: 16px;
   height: 34px;
   width: 268px;
   padding-left: 10px;
}




body{
  overflow: hidden;
}
/*.active {
  color: red;
}

.content {
  padding: 20px 0;
}

*/
